@charset 'utf-8';

* {
  /* Font Size */
  --font-basic: 14px;
  /* Color */
  --color-black: rgb(29, 29, 31);
  --color-white: #ffffff;
  --color-light-grey: #ddd;
  --color-grey: #888;
  /* Padding Size */
  --padding-large: 10px;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-basic);
}

body {
  /* overflow-x : hidden을 하면 x축 넘기는건 가리므로 가로스크롤이 안생김 */
  overflow-x: hidden;
  color: var(--color-black);
  letter-spacing: -0.05em;
  background-color: var(--color-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

p {
  line-height: 1.6;
}

.global_navbar {
  height: 44px;
  padding: 0 1rem;
}

.local_navbar {
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid var(--color-grey);
}

.global_navbar_list,
.local_navbar_list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.global_navbar_list {
  justify-content: space-between;
}

.local_navbar_list li:first-child {
  margin-right: auto;
}

.local_navbar_list a:not(.local_navbar_name) {
  margin-left: 2em;
  font-size: 0.8rem;
}

.local_navbar_name {
  font-weight: bold;
  font-size: 1.4rem;
}

.scroll_section {
  padding-top: 50vh;
}

#scroll_section-first h1 {
  font-size: 4rem;
  text-align: center;
}

.main_mention {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2.5rem;
  margin-top: 5px;
}

.main_mention p {
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
}

#scroll_section-second p {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--color-grey);
}

#scroll_section-second p strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: var(--color-black);
}